.artBox {
  position: relative;
  overflow: hidden;
  height: 100%;
  flex: 1;
  border-radius: var(--border-radius);
  transition: all 0.5s;
  box-shadow: 10px 10px 50px var(--color-dark);
}

.artBox:nth-child(1) {
  transform: scale(0.8) translateY(15%) translateX(80%);
}

.artBox:nth-child(2) {
  transform: scale(0.9) translateY(4%) translateX(25%);
  z-index: 1;
}

.artBox:nth-child(3) {
  z-index: 2;
  transform: translateY(-5%);
}

.artBox:nth-child(4) {
  transform: scale(0.9) translateY(4%) translateX(-25%);
  z-index: 1;
}

.artBox:nth-child(5) {
  transform: scale(0.8) translateY(15%) translateX(-80%);
}

.artBox:hover {
  box-shadow: 20px 20px 80px var(--color-dark);
  filter: contrast(1.5);
}

.artwork {
  object-fit: cover;
}

.artBox:after {
  animation: shine 5s ease-out infinite;
  animation-fill-mode: forwards;
  content: '';
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.01);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.01) 0%,
    rgba(255, 255, 255, 0.01) 30%,
    rgba(255, 255, 255, 0.3) 62%,
    rgba(255, 255, 255, 0) 100%
  );
}

.artBox:active:after {
  opacity: 0;
}

@keyframes shine {
  40% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 1s, 1s, 0.3s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
}

@media (max-width: 425px) {
  .artBox:nth-child(1),
  .artBox:nth-child(5) {
    display: none;
  }
}
